.fixed {
  position: fixed;
  top: 2vh;
  left: 2vw;
  bottom: 2vh;
  right: 2vw;
  background-color: white;
  border: 3px solid #73ad21;
}

.btnFixed {
  position: fixed;
  top: 3vh;
  right: 3vw;
}

div {
  font-size: 12px;
}

.main {
  font-size: 12px;
}
